---

let {dades} = Astro.props;

---

<style>
    div {
        background-color: beige;
        padding: 20px;
        border: 1px solir red;
    }
</style>
<div>
    <h1>{dades.nom}</h1>
    { dades.foto && <img src={dades.foto} alt={dades.nom} /> }
    
</div>

